body{
    padding: 20px;
}

.navbar{
     display: flex;
color: blue;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navitems{
    color: blueviolet;
        display: flex;
        flex-direction: row;
        gap: 50px;
}

.hero p {
    display: flex;
    flex-direction: row;
    gap: 500px;
}
.button{
    background-color: blue;
    color: azure;

}

.herocontent img{
    height: 190px;
    width: 190px;
    border-radius: 50%;
}